@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --green: #10b981;
        --green-background: #079d6e;
        --green-border: #10b880;
        --text-2: #8c919c;
        --web-bg: #000000;
        --card-bg: #ffffff;
    }

    .main {
        display: flow-root;
        background-color: var(--web-bg);
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }

    .card {
        max-width: 21em;
        margin: 1rem;
        /* without scaling */
        padding: 1rem;
        background-color: var(--card-bg);
    }
}

@layer components {

    /* todo components */
    .card--marketer {
        border-radius: 1em;
        border: 1px solid var(--border);
        margin: 1rem;
        padding: 2rem;
    }

    .smh {
        margin: 0;
        font-size: 2rem;
        color: var(--secondary);
    }

    .green {
        color: var(--primary);
        font-size: 1rem;
    }

    .big {
        color: var(--primary);
        font-size: 2rem;
    }

    .underline {
        text-decoration: underline;
        font-size: 1rem;
    }

    .btn {
        display: block;
        background-color: var(--primary);
        border-radius: 0.5em;
        font-size: 1em;
        text-decoration: none;
        margin: 0.5rem 0 0 -0.7rem;
        padding: 1.2rem 6rem 1.2rem 6rem;
        color: white;
    }

    .list {
        padding-left: 0.5rem;
        margin: 1rem 0 1rem 0;
        list-style-image: url('../images/check.svg');
    }

    .list--cross {
        list-style-image: url('../images/cross.svg');
    }

    .card_green {
        border: 2px solid var(--green-border);
        border-radius: 1em;
        box-shadow: 0 4px 10px 0 #3b3b3b;
        padding:0 0 15em 0;
        text-align: center;
    }
    .Title {
        font-size: 2em;
        color: var(--green);
    }
    .Sub_Title {
        font-size: 0.9em;
        margin-top: -0.5em;
    }
    .Price {
        background-color: var(--green-background);
        color: white;
        padding: 2em;
        margin-top: 2.5em;
    }
    .price_value {
        font-size: 3em;
        font-weight: 550;
        letter-spacing: 2px;
    }
    .per_month {
        font-size: 0.9em;
    }
    .description {
        font-size: 0.96em;
        margin: 3em 1em 2em 1em;
    }
    .btn_around {
        margin-top: 3em;
    }
    .btn_green {
        background-color: var(--green);
        color: white;
        padding: 1em 7.5em;
        border: none;
        border-radius: 2em;
        text-decoration: none;
    }
}